.input {
  background-color: #00e5ff00;
  border: 1px solid #00B9B9;
  border-radius: 8px;
  color: #000000;
  padding: 8px 8px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 312px;
  height: 160px;
  box-sizing: border-box;
  color: #FFFF;
  text-align: left;
}

@media (max-width: 720px) {
  .button {
    width: 100%;
    max-width: 100%;
    padding: 14px 20px;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .button {
    font-size: 16px;
    padding: 12px 18px;
  }
}