@import "tailwindcss";

a {
  color: inherit;       /* успадковує колір від батька */
  text-decoration: none; /* прибирає підкреслення */
  cursor: pointer;       /* робить курсор “рука” */
}

body{
  background-color: #182230;
}

html {
  scroll-behavior: smooth;
}